.text {
    font-weight: 700;
  }
  
  
  .text-14 {
    font-size: 0.9722222222222222rem;
  }
  .text-16 {
    font-size: 1.11111111111rem;
  }
  .text-20 {
    font-size: 1.38888888889rem;
  }
  .text-40 {
    font-size: 2.777777777777778rem;
  }
  .text-58 {
    font-size: 4.02777777778rem;
  }