.layout {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100rem;

    padding: 0 13.54166666666667rem 1.666666666666667rem 13.54166666666667rem;

}

.container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;

    width: 72.91666666666667rem;
    border: 2.569444444444444rem 0 13.54166666666667rem;
    padding: 11.11111111111111rem 0;
    gap: 5.555555555555556rem;
}

.position-content {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 47.98611111111111rem;

    gap: 0.6944444444444444rem;
}

.content {
    text-align: center;

    letter-spacing: 0.0138888888888889rem;
}

.position-welcome {
    color: #FC724D;

}

.position-card {
    display: flex;
    width: 49.30555555555556rem;
    align-items: flex-start;
    gap: 1.041666666666667rem;


}

.card {
    display: flex;
    width: 21.75rem;
    flex-direction: column;
    flex-shrink: 0;
    align-self: stretch;

    background: #FFF;

    padding: 1.5625rem 1.5625rem 2.1875rem 1.5625rem;

    gap: 0.625rem;



    /* padding: 2.430555555555556rem 2.777777777777778rem;
    gap: 1.388888888888889rem;
    width: 22.77777777777778rem;
    height: auto;

    background: #FFF;

    box-shadow: 0px 0.9027777777777778rem 1.319444444444444rem 0px rgba(0, 0, 0, 0.07);

    color: #252B42; */

}


.prod {
    width: 21.75rem;
    height: 18.75rem;
    flex-shrink: 0;
}

.info {
    color: #252B42;
    gap: 0.625rem;
}

.productcategory {
    color: #FC724D;
    font-size: 0.875rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    
}

.productname {
    font-size: 1rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    color: #252B42;
    

}

.productinfo {
    color: #737373;
    font-size: 0.875rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    
}

.sale {
    color: #737373;
    font-size: 0.875rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    
}

.price {
    color: #BDBDBD;
    font-size: 1rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    
}

.priceafter {
    color: #0061FF;
    font-size: 1rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    
}

.action__position {
    color: #FC724D;
    font-size: 0.875rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    
}