.title {
    font-weight: 700;
  }
  
  
  .title-14 {
    font-size: 0.9722222222222222rem;
  }
  .title-16 {
    font-size: 1.11111111111rem;
  }
  .title-20 {
    font-size: 1.38888888889rem;
  }
  .title-40 {
    font-size: 2.777777777777778rem;
  }
  .title-58 {
    font-size: 4.02777777778rem;
  }